.page-head{
    background-color: #264653;
    color: #FFFFFF;
}
.btn-bd{
    background-color:#E76F51;
}
span{
    color: #E76F51;
}
.pictures{
  filter: grayscale(100%);
}
.catagore img {
    width: 50px;
}
.card-section{
    margin:50px;
}
.card{
    padding:50px;
}
.c-img img{
    height:200px;
    width:200px;
    border-radius: 100%;
    
}
.c-img{
    text-align: center;
}
.customer{
    color: #23A6F0;
}